* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FAFAFA;
  padding: 0 37px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'PT Serif', serif;
  line-height: 47px;
  letter-spacing: -0.045em;
}

/* Header Section */
.l-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 110px auto 96px;
  max-width: 932px;
}

.l-header__description {
  max-width: 439px;
}

.description {
  font-family: 'Poppins', sans-serif;
  line-height: 27px;
}

.description__heading {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description__text {
  font-size: 18px;
  font-weight: normal
}

/* Team Members Section */
.l-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 932px;
  margin: 0 auto;
}

.l-team__member {
  position: relative;
  width: 264px;
}

.member__image {
  width: 238px;
}

.member__post {
  position: absolute;
  top: 0;
  right: -110px;
  font-family: 'PT Serif', serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  width: 110px;
  text-transform: uppercase;
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.member__name {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin-top: 15px;
}

.middle-member {
  margin: 100px 67px 27px;
}

/* Footer Section */
.l-footer__text {
  text-align: center;
  margin: 82px auto 30px;
  color: #A9A9A9;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 17px;
}

/* Media Queries */
@media (max-width:1000px) {
  .middle-member {
    margin: 0;
  }

  .right-member {
    margin: 100px 67px 27px;
  }

  .left-member {
    margin: 0;
  }
}

@media (max-width:930px) {
  .right-member {
    margin: 100px 0 27px 67px;
  }
}

@media (max-width:850px) {
  .l-header {
    flex-direction: column;
    margin: 100px auto 80px;
  }

  .l-header__heading {
    margin-bottom: 40px;
  }

  .member__name {
    font-size: 16px;
    line-height: 24px;
  }

  .right-member {
    margin: 100px 0 27px 60px;
  }
}

@media (max-width:750px) {
  .l-header {
    margin: 90px auto 70px;
  }

  .l-team__member {
    width: 220px;
  }

  .member__image {
    width: 200px;
  }

  .right-member {
    margin: 90px 0 25px 55px;
  }
}

@media (max-width:650px) {
  .l-header {
    margin: 85px auto 60px;
  }

  .l-team__member {
    width: 200px;
  }

  .member__image {
    width: 180px;
  }

  .right-member {
    margin: 75px 0 23px 45px;
  }
}

@media (max-width:550px) {
  .l-header {
    margin: 80px auto 50px;
  }

  .l-team__member {
    width: 180px;
  }

  .member__image {
    width: 160px;
  }

  .right-member {
    margin: 60px 0 21px 35px;
  }
}

@media (max-width:470px) {
  body {
    padding: 0 19px;
  }

  .l-header {
    margin: 71px auto 38px;
  }

  .l-header__heading {
    margin-bottom: 38px;
  }

  .description__text {
    max-width: 320px;
    height: 87px;
    font-size: 14px;
    line-height: 21px;
  }

  .l-team__member {
    width: 156px;
  }

  .member__post {
    font-size: 10px;
    line-height: 13px;
  }

  .member__image {
    width: 138.72px;
  }

  .member__name {
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
  }

  .right-member {
    margin: 48px 0 16px 25px;
  }

  .l-footer {
    margin: 88px auto 68px;
  }
}

@media (max-width:375px) {
  body {
    padding: 0 10px;
  }

  .right-member {
    margin: 48px 0 16px 20px;
  }
}
